<hr>
<%= render 'layouts/banner' %>
<hr>
<br>
  <center><h1>Choisir son Histoires du Soir</h1></center>
<div class='containerfluid row ml-2 mr-2 d-flex justify-content-around gx-0 mb-5'>

<% @stories.each do |story| %>
    
    
    <div class="card m-4" style="width: 30rem; ">
        <center><h1 class="card-title"><%= story.title %></h1></center>
        <%= image_tag ("harry_potter.jpg") %>
        <div class="card-body">
         
            <p class="card-text"><%= story.content %></p>

            <%= link_to "Show", story_path(story), class: "btn btn-card" %>
        </div>
    </div>
    
    <% end %>
    
<div>